{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
  $(function() {
    var submit_form = function(e) {
      $.getJSON($SCRIPT_ROOT + '/drone/api/v1.0/search', function(data) {
        $('#result').text(data);
      });
      return false;
    };
    $('a#calculate').bind('click', submit_form);
    $('input[type=text]').bind('keydown', function(e) {
      if (e.keyCode == 13) {
        submit_form(e);
      }
    });
  });
</script>
<h1>Drone API server</h1>
<p> search: /drone/api/v1.0/search </p>
<p>
  <input type="text" size="5" name="a"> +
  <input type="text" size="5" name="b"> =
  <span id="result">?</span>
<p><a href=# id="calculate">calculate server side</a>
{% endblock %}
