<!DOCTYPE html>
<html>
    <head>
        <title>drone API server Index</title>
        <style type="text/css"> 
            input, button, select {
                margin-bottom: 10px;
            }
        </style>
    </head>
    <body>

        <h1>drone API server</h1>
        <button id=search>search</button>
        <p id="searchResult"></p>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/JavaScript">
        $(document).ready(function() {
            $("#search").click(function() {
                $.ajax({
                    type: "GET",
                    url: "/drone/api/v1.0/search",
                    datatype: "json",
                    success: function(data) {
                        $(#searchResult).html(data)
                    },
                    error: function(jqXHR) {
                        alert("Error:", jqXHR.status)
                    }
                }) 
            }
        }
        </script>

    </body>
</html>
