<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
function Register() {
    u = $("#username").val();
    p = $("#password").val();

    tmp_text = u+p;
    $.ajax({
        url:"/users/api/v1.0/users",
        type:"POST",
        headers: {
            "Content-Type": "application/json"
        },
        data:JSON.stringify({ username: u, password: p }),
        dataType:"json",
    })
    .done(function (data) {
        if (data.status === 'ok') {
            tmp_text = "register success: " + data.username;
            $("#stateResult").html(tmp_text);
        } else {
            alert("Our server returned an error\n" + data.error +
                    "\n" + data.status + "\n" +
                    "Please try again later.");
        }

    })
    .fail(function (jqxhr, textStatus, err) {

        alert("Our server returned an error\n" + err +
                "\n" + textStatus + "\n" +
                "Please try again later.");

    });
}
$(document).ready(function() {
    $("#register").click(function(){
        Register();
    });
});
</script>
<title> Auth Drone API server Index </title>
<h1>Auth test</h1>

<h3> Status </h3>
username: <input type="text" size="5" id="username" value=teste>
username: <input type="text" size="5" id="password" value=test4>
<button id="register">Registed</button>
<p id="stateResult"></p>

